<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="login">
      <label>
        ์์ด๋
        <input type="text" name="id" required />
      </label>
      <br />
      <label>
        ๋น๋ฐ๋ฒํธ
        <input type="password" name="pw" required />
      </label>
      <br /><br />

      <button type="button" onclick="userLogin();">๋ก๊ทธ์ธ</button>
      <button>๋ก๊ทธ์ธ</button>
      <br />
      <div class="message"></div>
    </form>
    <script>
      const form = document.forms["login"];
      const message = document.querySelector(".message");
      function userLogin() {
        console.log("์๋");
        // ์ํจ์ฑ ๊ฒ์ฆ(required ํ์๋ ํญ๋ชฉ์ ๋ํด์ ์ฒดํฌ)
        console.log(form.id.checkValidity());
        if (!form.id.checkValidity() || !form.pw.checkValidity()) {
          message.textContent = "์์ด๋์ ๋น๋ฐ๋ฒํธ๋ ํ์ ๊ฐ์๋๋ค.";
          return;
        }

        const data = {
          id: form.id.value,
          password: form.pw.value,
        };
        axios({
          method: "POST",
          url: "/login",
          data: data,
        })
          .then(function (response) {
            console.log(response.data);
            // message : ์ฑ๊ณต์ ํ๋๊ธ์, ์คํจ์ ๋นจ๊ฐ ๊ธ์
            if (response.data.isSuccess) {
              // ๋ก๊ทธ์ธ ์ฑ๊ณต
              message.textContent = `${response.data.loginInfo.id}๋ ํ์ํฉ๋๋ค.`;
              message.classList.add("success");
              message.classList.remove("error");
            } else {
              // ๋ก๊ทธ์ธ ์คํจ
              message.textContent = `๋ก๊ทธ์ธ์คํจ, ์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ๐ข`;
              message.classList.remove("success");
              message.classList.add("error");
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
