<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>실습문제2 (axios post 로그인)</title>
  </head>
  <body>
    <form name="logIn">
      <input
        type="text"
        name="id"
        required
        placeholder="아이디를 입력해주세요"
      />
      <br />
      <input
        type="password"
        name="password"
        required
        placeholder="비밀번호를 입력해주세요"
      />
      <br />
      <button type="button" onclick="axiosPost()">로그인</button>

      <div class="result"></div>
    </form>

    <script>
      const resultBox = document.querySelector(".result");
      async function axiosPost() {
        const logIn = document.forms["logIn"];
        const data = {
          id: logIn.id.value,
          password: logIn.password.value,
        };
        console.log(logIn.id.checkValidity());
        console.log(logIn.password.checkValidity());
        if (!logIn.id.checkValidity()) {
          resultBox.style.color = "red";
          resultBox.textContent = "이름을 입력해주세요";
          //   resultBox.textContent = logIn.id.validationMessage; // 이 입력란을 작성하세요
        } else if (!logIn.password.checkValidity()) {
          //   resultBox.textContent = logIn.password.validationMessage;
          resultBox.style.color = "red";
          resultBox.textContent = "비밀번호를 입력해주세요";
        } else {
          try {
            const response = await axios({
              method: "post",
              url: "/axiosPost",
              data: data,
            });
            //   response = {
            //     status: 200,
            //     statusText: "ok",
            //     Headers: {},
            //     data: { id: "2", pw: "2" },
            //   };
            console.log(response.data);
            const { id, password } = response.data;
            console.log(id, password);
            console.log(resultBox);
            resultBox.style.color = "blue";
            resultBox.innerText = `POST axios 요청 완료!: ${id}님의 비밀번호는 ${password}입니다`;
          } catch (err) {
            resultBox.style.color = "red";
            console.log("실패");
            console.log(err);
          }
        }
      }
    </script>
  </body>
</html>
