<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">비밀번호</label>
      <input id="password" type="password" name="pw" required /><br />
      <label for="nickname">이름 </label>
      <input id="nickname" type="text" name="name" required /><br />
      <button type="button" onclick="register();">가입</button>
    </form>
    <br />
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/login">로그인 페이지</a>
  </body>
</html>
