body {
  background-color: aliceblue;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h2 > span {
  color: skyblue;
}

img {
  box-shadow: 0 0 5px pink;
  margin-bottom: 20px;
}
